{% extends 'top_menu.html' %}
{% block title %}
	{{ data.username }} - 学聊
{% endblock %}
{% block css %}
	<link rel="stylesheet" href="/static/css/style.css">
	<script src="/static/js/jquery-1.12.4.js"></script>
{% endblock %}
{% block content %}
	{% include 'user_info_tag.html' %}
	<div class="main">
		<div class="layui-tab layui-tab-brief">
			<ul class="layui-tab-title">
				<li class="user-note">笔记<span class="badge">{{ data.note_count }}</span></li>
				<li class="user-fond">收藏<span class="badge">{{ data.info.fond_notes_count }}</span></li>
				<li class="user-group">小组<span class="badge">{{ data.info.groups_count }}</span></li>
				<li class="user-follow layui-this">关注<span class="badge">{{ data.info.follow_count }}</span></li>
				<li class="user-fans">粉丝<span class="badge">{{ data.info.fans_count }}</span></li>
			</ul>
		</div>
		<div>
			{% if follows %}
				{% for follow in follows %}
					<div>
						<a>{{ follow.user.userid }}</a>
						<a href="/u/{{ follow.user.userid }}/note/">{{ follow.user.username }}</a>
						<a>{{ follow.user.gender }}</a>
						<a>{{ follow.user.institute }}</a>
						<a>{{ follow.user.major }}</a>
					</div>
				{% endfor %}
			{% else %}
				<P>nothing</P>
			{% endif %}
		</div>
	</div>
{% endblock %}
{% block script %}
	{% include 'tag_script.html' %}
{% endblock %}