{% extends 'top_menu.html' %}
{% block title %}
	{{ group.group_name }} - {{ group.group_owner.username }}的小组 - 学聊
{% endblock %}
{% block css %}
	<link rel="stylesheet" href="/static/css/style.css">
	<script src="/static/js/jquery-1.12.4.js"></script>
{% endblock %}
{% block content %}
	<div class="main card">
		<div>
			<p>小组组名:{{ group.group_name }}</p>
			<p>小组简介:{{ group.introduction }}</p>
			{% if activity %}
				<p>小组活动:{{ activity.activity_request }}</p>
			{% else %}
				<p>暂无小组活动
					{% if is_creator %}
						<button class="create-button">立即创建</button>
					{% endif %}
				</p>
			{% endif %}
			<p>小组标签:{{ group.grouptag.grouptag_name }}</p>
			<p>小组积分:{{ group.integral }}</p>
			<p>活动数量:{{ group.activities_count }}</p>
			<p>创建时间:{{ group.create_time|date:"Y-m-d H:i:s" }}</p>
		</div>
		<div>
			{% if is_creator %}
				<button type="button" class="delete-group-button">解散小组</button>
			{% endif %}
		</div>
		<div>
			<p><a>小组成员({{ group.member_count }})</a>
				{% if is_creator %}
					<button type="button" class="add-member-button">邀请成员</button>
				{% elif is_in %}
					<button type="button" class="quit-button">退出小组</button>
				{% else %}
					<button type="button" class="join-in-button">申请加入</button>
				{% endif %}
			</p>
			<p>创建者:{{ group.group_owner.username }}</p>
			{% for member in members %}
				<p>{{ member.member.username }}-{{ member.add_time }}</p>
			{% endfor %}
		</div>
	</div>
{% endblock %}