{% extends 'top_menu.html' %}
{% block title %}
	{{ note.title }} - {{ note.note_user.username }}的笔记 - 学聊
{% endblock %}
{% block css %}
	<link rel="stylesheet" href="/static/css/style.css">
	<script src="/static/js/jquery-1.12.4.js"></script>
{% endblock %}
{% block content %}
	<div class="main card">
	<div class="layui-card">
		<div class="layui-card-header">
			{{ note.title }}
		</div>
		<div class="layui-card-body">
			{% autoescape off %}
				{{ note.content }}
			{% endautoescape %}
		<p>
			{{ note.note_user.username }}编辑于{{ note.last_edit_time }}
		</p>
		</div>
	</div>
		{% if is_author %}
			<a href="/n/{{ note.noteid }}/edit/">编辑</a>
		{% elif is_fond %}
			<button type="button" class="cancel-fond-button">已收藏</button>
		{% else %}
			<button type="button" class="fond-button">收藏</button>
		{% endif %}
	</div>
{% endblock %}
{% block script %}
	<script type="text/javascript">
        $(function () {
            $('.fond-button').click(function () {
                $.ajax({
                    url: '/note/fond/',
                    type: 'POST',
					async : false,
                    data: {
                        'noteid': {{ note_obj.noteid }},
                        'userid': {{ note_obj.note_user_id }}
                    },
                    success: function (data) {
                        var obj = JSON.parse(data);
                        if (obj.status == 'success') {
                            location.reload();
                        } else if (obj.status == 'fail') {
                            alert(obj.error);
                        } else if (obj.status == 'unauthorized') {
                            location.href = '/login/';
                        }
                    }
                });
            });
            $('.cancel-fond-button').click(function () {
                $.ajax({
                    url: '/note/cancel_fond/',
                    type: 'POST',
					async : false,
                    data: {
                        'noteid': {{ note_obj.noteid }},
                        'userid': {{ note_obj.note_user_id }}
                    },
                    success: function (data) {
                        var obj = JSON.parse(data);
                        if (obj.status == 'success') {
                            location.reload();
                        } else if (obj.status == 'fail') {
                            alert(obj.error);
                        } else if (obj.status == 'unauthorized') {
                            location.href = '/login/';
                        }
                    }
                });
            });
        });
	</script>
{% endblock %}