<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	{% load staticfiles %}
	<link rel="shortcut icon" href="{% static "img/favicon.ico" %}">
	<title>编辑-{{ note_obj.title }}-{{ note_obj.note_user.username }}的笔记</title>
</head>
<body>
<div>
	<form class="note-form" action="/note/{{ note_obj.noteid }}/edit/" method="post">
		{% csrf_token %}
		<div style="display: none">
			<span>笔记id</span><input type="text" class="noteid" name="noteid" value="{{ note_obj.noteid }}"/>
		</div>
		<div style="display: none">
			<span>作者id</span><input type="text" class="noteuser_id" name="noteuser_id"
									value="{{ note_obj.note_user_id }}"/>
		</div>
		<div>
			<span>笔记标题</span><input type="text" class="title" name="title" value="{{ note_obj.title }}"/>
		</div>
		<div>
			<span>笔记简介</span><input type="text" class="summary" name="summary" value="{{ note_obj.summary }}"/>
		</div>
		<div>
			<span>笔记标签</span>
			<select name="tag">
				{% for tag in tag_obj %}
					{% if tag.notetag_id == note_obj.notetag_id %}
						<option value="{{ tag.notetag_id }}" selected="selected">{{ tag.notetag_name }}</option>
					{% else %}
						<option value="{{ tag.notetag_id }}">{{ tag.notetag_name }}</option>
					{% endif %}
				{% endfor %}
			</select>
		</div>
		<div>
			<span>阅读权限</span>
			<select name="limit">
				{% for limit in limit_obj %}
					{% if limit.limitid == note_obj.readlimit_id %}
						<option value="{{ limit.limitid }}" selected="selected">{{ limit.limit_type }}</option>
					{% else %}
						<option value="{{ limit.limitid }}">{{ limit.limit_type }}</option>
					{% endif %}
				{% endfor %}
			</select>
		</div>
		<div>
			<span>正文内容</span>
			<textarea id="content" class="content" name="content">{{ note_obj.content }}</textarea>
		</div>
		<button type="button" class="save-button">保存</button>
		<button type="button" class="cancel-button">取消</button>
	</form>
</div>
<script src="/static/js/jquery-1.12.4.js"></script>
<script src="/static/kindeditor/kindeditor-all.js"></script>
<script type="text/javascript">
    KindEditor.ready(function (k) {
        window.editor = k.create('textarea[id="content"]', {
            resizeType: 0,
            allowImageRemote: false,
            filePostName: "file",
            uploadJson: "/upload/",
            afterBlur: function () {
                this.sync();
            }
        });
    });
    $(function () {
        $('.save-button').click(function () {
            $.ajax({
                url: "/note/{{ note_obj.noteid }}/edit/",
                type: "POST",
                data: $(".note-form").serialize(),
                success: function (data) {
                    var obj = JSON.parse(data);
                    if (obj.status == "success") {
                        var userid = obj.userid;
                        location.href = "/note/user-{{ note_obj.note_user_id }}/";
                    } else if (obj.status == "fail") {
                        alert(obj.error);
                    } else if (obj.status == "unauthorized") {
                        location.href = "/login/";
                    }
                }
            });
        });
        $('.cancel-button').click(function () {
            history.back(-1);
        });
    });
</script>
</body>
</html>