{% extends 'top_menu.html' %}
{% block title %}{{ data.username }} - LEARN{% endblock %}
{% block css %}
	<link rel="stylesheet" href="/static/css/style.css">
	<script src="/static/js/jquery-1.12.4.js"></script>
{% endblock %}
{% block content %}
	{% include 'user_info_tag.html' %}
	<div class="main">
	<div class="layui-tab layui-tab-brief">
		<ul class="layui-tab-title">
			<li class="user-note">笔记<span class="badge">{{ data.note_count }}</span></li>
			<li class="user-fond layui-this">收藏<span class="badge">{{ data.fond_count }}</span></li>
			<li class="user-activity">活动<span class="badge">{{ data.activity_count }}</span></li>
			<li class="user-follow">关注<span class="badge">{{ data.follow_count }}</span></li>
			<li class="user-fans">粉丝<span class="badge">{{ data.fans_count }}</span></li>
		</ul>
	</div>
	<table class="layui-table" lay-even="" lay-skin="nob">
		<colgroup>
			<col width="150">
			<col width="100">
			<col width="80">
			<col width="80">
			<col width="150">
			<col>
		</colgroup>
		<thead>
		<tr>
			<th>标题</th>
			<th>作者</th>
			<th>标签</th>
			<th>收藏</th>
			<th>编辑时间</th>
			<th>简介</th>
		</tr>
		</thead>
		<tbody>
		{% if notes %}
			{% for note in notes %}
				<tr>
					<td><a href="/n/{{ note.noteid_id }}/">{{ note.noteid.title }}</a></td>
					<td><a href="/u/{{ note.noteid.note_user.userid }}/note/">{{ note.noteid.note_user.username }}</a>
					</td>
					<td>{{ note.noteid.notetag.notetag_name }}</td>
					<td>{{ note.noteid.userfondnotes_set.count }}</td>
					<td>{{ note.noteid.last_edit_time|date:"Y-m-d H:i:s" }}</td>
					<td>{{ note.noteid.summary }}</td>
				</tr>
			{% endfor %}
		{% else %}
			<tr>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
			</tr>
		{% endif %}
		</tbody>
	</table>
{% endblock %}
{% block script %}
	{% include 'tag_script.html' %}
{% endblock %}