{% extends 'top_menu.html' %}
{% block title %}
	{{ note.title }} - 编辑 - LEARN
{% endblock %}
{% block css %}
	<link rel="stylesheet" href="/static/css/style.css">
	<script src="/static/js/jquery-1.12.4.js"></script>
	<script src="/static/kindeditor/kindeditor-all.js"></script>
	<script type="text/javascript">
        KindEditor.ready(function (k) {
            window.editor = k.create('textarea[id="content"]', {
                height: 380,
                resizeType: 0,
                allowImageRemote: false,
                filePostName: "file",
                uploadJson: "/upload/",
                afterBlur: function () {
                    this.sync();
                }
            });
        });
	</script>
{% endblock %}
{% block content %}
	<div class="main card">
		<form id="form" class="layui-form layui-form-pane" action="/n/{{ note.noteid }}/edit/" method="post">
			{% csrf_token %}
			<div style="display: none">
				<span>笔记id</span><input type="text" name="noteid" value="{{ note.noteid }}"/>
			</div>
			<div style="display: none">
				<span>作者id</span><input type="text" name="noteuser_id"
										value="{{ note.note_user_id }}"/>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">笔记标题</label>
				<div class="layui-input-block">
					<input type="text" class="layui-input" name="title" value="{{ note.title }}"/>
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">笔记简介</label>
				<div class="layui-input-block">
					<input type="text" class="layui-input" name="summary" value="{{ note.summary }}"/>
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">笔记标签</label>
				<div class="layui-input-block">
					<select class="choice" name="tag">
						{% for tag in tags %}
							{% if tag.notetag_id == note.notetag_id %}
								<option value="{{ tag.notetag_id }}" selected="selected">{{ tag.notetag_name }}</option>
							{% else %}
								<option value="{{ tag.notetag_id }}">{{ tag.notetag_name }}</option>
							{% endif %}
						{% endfor %}
					</select>
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">阅读权限</label>
				<div class="layui-input-block">
					<select class="choice" name="limit">
						{% for limit in limits %}
							{% if limit.limitid == note.readlimit_id %}
								<option value="{{ limit.limitid }}" selected="selected">{{ limit.limit_type }}</option>
							{% else %}
								<option value="{{ limit.limitid }}">{{ limit.limit_type }}</option>
							{% endif %}
						{% endfor %}
					</select>
				</div>
			</div>
			<div class="layui-form-item layui-form-text">
				<label class="layui-form-label">笔记内容</label>
				<div class="layui-form-block">
					<textarea id="content" class="layui-textarea" name="content">{{ note.content }}</textarea>
				</div>
			</div>
			<div style="float: right;">
				<button type="button" id="save-button" class="layui-btn layui-btn-normal layui-btn-radius">保存</button>
				<button type="button" id="cancel-button" class="layui-btn layui-btn-primary layui-btn-radius">取消
				</button>
			</div>
		</form>
	</div>
{% endblock %}
{% block script %}
	<script type="text/javascript">
        $(function () {
            $('#save-button').click(function () {
                $.ajax({
                    url: "/n/{{ note.noteid }}/edit/",
                    type: "POST",
                    data: $("#form").serialize(),
                    success: function (data) {
                        var obj = JSON.parse(data);
                        if (obj.status == "success") {
                            location.href = "/u/{{ note.note_user_id }}/note/";
                        } else if (obj.status == "fail") {
                            alert(obj.error);
                        } else if (obj.status == "unauthorized") {
                            location.href = "/login/";
                        }
                    }
                });
            });
            $('#cancel-button').click(function () {
                history.back(-1);
            });
        });
	</script>
{% endblock %}