<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>注册 - LEARN</title>
	{% load staticfiles %}
	<link rel="shortcut icon" href="{% static "img/favicon.ico" %}">
	<link rel="stylesheet" href="/static/css/login.css">
</head>
<body>
<div class="top_div"></div>
<div style="background: rgb(255, 255, 255); margin: -200px auto auto; border: 1px solid rgb(231, 231, 231); border-image: none; width: 400px; height: 350px; text-align: center;">
	<div style="width: 165px; height: 96px; position: absolute;">
		<div class="head"></div>
		<div class="initial_left_hand" id="left_hand"></div>
		<div class="initial_right_hand" id="right_hand"></div>
	</div>
	<form class="form" method="post" action="/login/">
		{% csrf_token %}
		<p style="padding: 30px 0px 10px; position: relative;">
			<input class="ipt" type="text" placeholder="帐号" name="userid">
		</p>
		<p style="padding: 0px 0px 10px; position: relative;">
			<input class="ipt" type="text" placeholder="昵称" name="username">
		</p>
		<p style="padding: 0px 0px 10px; position: relative;">
			<input class="ipt" type="text" placeholder="性别('男','女')" name="gender">
		</p>
		<p style="padding: 0px 0px 10px; position: relative;">
			<input class="ipt" type="text" placeholder="专业" name="major">
		</p>
		<p style="position: relative;">
			<input class="ipt" id="password" type="password" placeholder="请输入密码" name="password">
		</p>
		<div style="height: 50px; line-height: 50px; margin-top: 30px; border-top-color: rgb(231, 231, 231); border-top-width: 1px; border-top-style: solid;">
			<p style="margin: 0px 35px 20px 45px;">
				<span style="float: left;">
					<a class="error-message" style="color: rgb(204,84,82);"></a>
			</span>
				<span class="login-span" style="float: right;">
					<button type="button" class="register-button"
							style="background: rgb(0, 142, 173); padding: 7px 10px; border-radius: 4px; border: 1px solid rgb(26, 117, 152); border-image: none; color: rgb(255, 255, 255); font-weight: bold;">注册</button>
				<a href="/login/" style="margin-left: 15px;">取消</a>
				</span>
			</p>
		</div>
	</form>
</div>
<div style="text-align:center;"></div>
<script src="/static/js/jquery-1.9.1.min.js" type="text/javascript"></script>
<script src="/static/js/jquery-1.12.4.js"></script>
<script type="text/javascript">
    $(function () {
        //得到焦点
        $("#password").focus(function () {
            $("#left_hand").animate({
                left: "150",
                top: " -38"
            }, {
                step: function () {
                    if (parseInt($("#left_hand").css("left")) > 140) {
                        $("#left_hand").attr("class", "left_hand");
                    }
                }
            }, 2000);
            $("#right_hand").animate({
                right: "-64",
                top: "-38px"
            }, {
                step: function () {
                    if (parseInt($("#right_hand").css("right")) > -70) {
                        $("#right_hand").attr("class", "right_hand");
                    }
                }
            }, 2000);
        });
        //失去焦点
        $("#password").blur(function () {
            $("#left_hand").attr("class", "initial_left_hand");
            $("#left_hand").attr("style", "left:100px;top:-12px;");
            $("#right_hand").attr("class", "initial_right_hand");
            $("#right_hand").attr("style", "right:-112px;top:-12px");
        });
    });
</script>
<script type="text/javascript">
    $(function () {
        $('.register-button').click(function () {
            $.ajax({
                url: '/register/',
                type: 'POST',
                data: $('.form').serialize(),
                success: function (data) {
                    var obj = JSON.parse(data);
                    if (obj.status) {
                        $('.error-message').text(obj.error_message);
                    } else {
                        location.href = '/index/';
                    }
                }
            });
        });
    });
</script>
</body>
</html>
