{% extends 'top_menu.html' %}
{% load filter %}
{% block title %}
	查找活动 - LEARN
{% endblock %}
{% block css %}
	<link rel="stylesheet" href="/static/css/style.css">
{% endblock %}
{% block content %}
	<div class="main card">
		<div class="layui-card-header">
			{% if kwargs.keyword %}
				<input id="keyword" style="float: left; width: 625px" autocomplete="off" placeholder="请输入搜索关键词"
					   class="layui-input"
					   type="text" value="{{ kwargs.keyword }}">
			{% else %}
				<input id="keyword" style="float: left; width: 625px" autocomplete="off" placeholder="请输入搜索关键词"
					   class="layui-input"
					   type="text">
			{% endif %}
			<button id="search-note" style="float:right;" class="layui-btn layui-btn-normal">搜索</button>
		</div>
		<div class="layui-card-body">
			<div class="layui-tab layui-tab-brief">
				<ul class="layui-tab-title">
					<li id="tag-note">笔记</li>
					<li id="tag-user">用户</li>
					<li id="tag-activity" class="layui-this">活动</li>
				</ul>
			</div>
			<div>
				<table class="layui-table" lay-even="" lay-skin="nob">
					<colgroup>
						<col width="150">
						<col width="100">
						<col width="150">
						<col width="80">
						<col width="80">
					</colgroup>
					<thead>
					<tr>
						<th>活动名称</th>
						<th>组织者</th>
						<th>活动地点</th>
						<th>标签</th>
						<th>状态</th>
					</tr>
					</thead>
					<tbody>
					{% if activities %}
						{% for activity in activities %}
							<tr>
								<td><a href="/a/{{ activity.activity_id }}/">{{ activity.activity_name }}</a></td>
								<td><a href="/u/{{ activity.leader_id }}/note/">{{ activity.leader.username }}</a></td>
								<td>{{ activity.place }}</td>
								<td>{{ activity.activity_tag.tag_name }}</td>
								{% if activity.status == 1 %}
									<td>已结束</td>
								{% else %}
									<td>正在进行</td>
								{% endif %}
							</tr>
						{% endfor %}
					{% else %}
						<tr>
							<td>-</td>
							<td>-</td>
							<td>-</td>
							<td>-</td>
							<td>-</td>
							<td>-</td>
						</tr>
					{% endif %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
{% endblock %}
{% block script %}
	<script src="/static/js/jquery-1.12.4.js"></script>
	{% include 'search_script.html' %}
	<script type="text/javascript">
        $(function () {
            $('#search-note').click(function () {
                var keyword = $('#keyword').val();
                if (keyword == "") {
                    location.reload();
                }
                location.href = '/search/a/?keyword=' + keyword;
            });
        });
	</script>
{% endblock %}