<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	{% load staticfiles %}
	<link rel="shortcut icon" href="{% static "img/favicon.ico" %}">
	<title>{% block title %}{% endblock %}</title>
	<script src="/static/js/layui.js"></script>
	<link rel="stylesheet" href="/static/css/layui.css">
	<link rel="stylesheet" href="/static/css/common.css">
	{% block css %}{% endblock %}
</head>
<body class="layui-layout-body">
<div class="layui-layout-admin">
	<div class="layui-header">
		<a class="layui-logo" href="/index/">LEARN</a>
		<ul class="layui-nav layui-layout-left">
			<li class="layui-nav-item"><a href="/index/">首页</a></li>
			{% if data.userid %}
				<li class="layui-nav-item"><a href="/n/new/">写笔记</a></li>
				<li class="layui-nav-item"><a href="/a/new/">新建活动</a></li>
			{% else %}
				<li class="layui-nav-item"><a href="/login/">写笔记</a></li>
				<li class="layui-nav-item"><a href="/login/">新建活动</a></li>
			{% endif %}
		</ul>
		<ul class="layui-nav layui-layout-right">
			<li class="layui-nav-item">
				<button id="search-button" class="layui-btn layui-btn-primary layui-btn-radius"><img
						class="layui-nav-img"
						src="/static/img/search.png">click here to search&nbsp;&nbsp;&nbsp;
				</button>
			</li>
			<li class="layui-nav-item">
				{% if data.userid %}
					<a href="/u/{{ data.userid }}/note/">
						<img src="/static/img/default_head.jpg" class="layui-nav-img">{{ data.username }}
					</a>
				{% else %}
					<a href="/login/">
						<img src="/static/img/default_head.jpg" class="layui-nav-img">点击登录
					</a>
				{% endif %}
			</li>
			{% if data.userid %}
				<li class="layui-nav-item"><a href="/logout/">注销</a></li>
			{% endif %}
		</ul>
	</div>
	<div class="layui-body">
		{% block content %}{% endblock %}
	</div>
</div>
<script type="text/javascript">
    $(function () {
        $('#search-button').click(function () {
            location.href = '/search/n/';
        });
    });
</script>
{% block script %}
{% endblock %}
</body>
</html>